.nav-section {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40px;
}

.right-sec {
  position: absolute;
  right: 30px;
  top: 5px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 19px;
}
.log-con {
  margin-right: 10px;
}

#login:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(82, 142, 233);
}
#menu-list {
  display: flex;
  list-style-type: none;
  margin: 20px auto;
  font-family: 'Noto Sans KR', sans-serif;
}
#menu-list li {
  padding: 10px;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid white;
}
#menu-list li:hover {
  color: rgb(82, 142, 233);
  border-bottom: 2px solid rgb(54, 54, 54);
  cursor: pointer;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search-area {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#searchIcon {
  position: relative;
  left: 16px;
  top: 6px;
}
#searchInput {
  border: none;
  border-bottom: 2px solid black;
  padding-bottom: 4px;
  background-color: transparent;
  padding-left: 30px;
  padding-bottom: 10px;
  width: 55%;
}
#searchInput:focus {
  outline: none;
}

.product-card {
  transition: transform 0.3s ease;
  font-family: 'Noto Sans KR', sans-serif;
}

.product-card:hover {
  transform: scale(1.05);
}

#productImg,
#productName:hover {
  cursor: pointer;
}
#productName:hover {
  color: rgb(71, 116, 199);
}

#logo {
  margin-bottom: 10px;
}
#logo:hover {
  cursor: pointer;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.footer-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(238, 238, 238);
  padding: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  bottom: 0;
}

.no-result {
  text-align: center;
  margin-top: 25px;
  font-family: 'Noto Sans KR', sans-serif;
}
.loading-wrap {
  text-align: center;
  font-size: 25px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 20px;
}
.cho-new-area span {
  margin-right: 5px;
}
.choice-text {
  display: inline;
  font-size: 12px;
  background-color: rgb(118, 158, 233);
  color: white;
  border-radius: 4px;
  padding: 2px;
}
.new-text {
  display: inline;
  font-size: 12px;
  background-color: gray;
  border-radius: 4px;
  padding: 2px;
  color: white;
}
.new-text:empty {
  display: none;
}
.choice-text:empty {
  display: none;
}

.new-text1 {
  display: inline;
  font-size: 13px;
  color: white;
}
.new-text1 span {
  margin-right: 5px;
  background-color: rgb(236, 130, 44);
  border-radius: 6px;
  padding: 3px;
}
.new-text1 .emp1:empty {
  display: none;
}
.new-text1 .emp2:empty {
  display: none;
}

.pro-title {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}

.login-title {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 20px;
}

.menu-icon {
  display: none;
}

#search-text {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  margin-top: 10px;
}
#color-text {
  color: rgb(236, 130, 44);
  font-weight: bold;
}

.buy-btn {
  width: 100%;
}

.side-menu-area {
  display: none;
}

@media (max-width: 991px) {
  .product-col {
    flex: 0 0 50%; /* 태블릿 화면일 때 한 줄에 2개씩 */
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  #menu-list {
    display: none;
  }
  .menu-icon {
    display: block;
    position: absolute;
    left: 20px;
    top: -5px;
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
    z-index: 1001;
  }
  .close-icon {
    position: fixed;
    top: 8px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(235, 246, 255);
    z-index: 1001;
    background-color: rgb(26, 25, 25);
    border-radius: 50%;
    padding: 8px 10px;
  }
  .side-menu-area {
    display: block;
    position: fixed;
    top: 0;
    left: -200px; /* 처음에 왼쪽으로 숨겨둠 */
    width: 200px;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out; /* left 속성에 대한 변화를 부드럽게 적용 */
  }

  .side-menu-area.active {
    left: 0;
  }
  .side-menu-list {
    margin: 0;
    padding: 20px 10px;
    list-style-type: none;
  }

  .side-menu-list li {
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
  }

  .side-menu-list li:hover {
    color: rgb(83, 127, 221);
  }
}

@media (max-width: 500px) {
  .detail-mobile {
    flex-direction: column;
  }
  #logo {
    margin-top: -10px;
  }
  .close-icon {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .product-col {
    flex: 0 0 100%; /* 모바일 화면일 때 한 줄에 1개씩 */
    display: flex;
    justify-content: center;
  }
  #searchInput {
    width: 60%;
    position: relative;
    right: 8px;
  }
  .search-area {
    margin-top: 60px;
  }
  .right-sec {
    right: 25px;
    top: 5px;
    font-size: 15px;
  }
  .product-img img {
    width: 200px;
  }
}
