.login-btn {
  display: flex;
  justify-content: flex-end;
  margin: 30px 50px;
  font-family: 'Noto Sans KR', sans-serif;
}
#loginIcon {
  position: relative;
  top: 4px;
  margin-right: 10px;
}
#login:hover {
  text-decoration: underline;
  cursor: pointer;
}
.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  margin: 15px auto;
  font-family: 'Noto Sans KR', sans-serif;
}
.menu-list li {
  padding: 10px;
}
.menu-list li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(82, 142, 233);
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search-area {
  position: absolute;
  right: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 15px;
}
#searchIcon {
  position: relative;
  left: 16px;
}
#searchInput {
  border: none;
  border-bottom: 2px solid black;
  padding-bottom: 4px;
  background-color: transparent;
  padding-left: 25px;
}
#searchInput:focus {
  outline: none;
}

.product-card {
  transition: transform 0.3s ease;
  font-family: 'Noto Sans KR', sans-serif;
}

.product-card:hover {
  transform: scale(1.05);
}

#productImg,
#productName:hover {
  cursor: pointer;
}
#productName:hover {
  text-decoration: underline;
}

#logo:hover {
  cursor: pointer;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}
